html{
  overflow-y : scroll;
  width:100%; 
  height: 100vh; 
}

body{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  color: #FFFFFF;
  background: #00344A;
}

h1{
  font-size: 52px;
  font-weight: bold;
}

h3{
  font-size: 22px;
}

h3.subtitle{
  color: #E6EFF3;
  line-height: 33px;
}

.bgdark{
  background-color: #00344A;
}

.green{
  color: #7FBF16;
}

.greenButton{
  background-color: #7FBF16;
  color: #FFF;
  padding: 1em;
  border-radius: 100rem;
  font-weight: bold;
}

.display-linebreak {
  white-space: pre-line;  
}

.container{
  height: 100vh;
}

.navbar-brand{
  font-size: 30px;
  line-height: 38px;
  padding-left: 10px;
}

.text-success.custom.navbar-brand{
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: lowercase;
  font-family: "Barlow", Arial, Helvetica, sans-serif;
}

.hero.container{
  display: flex;
  -webkit-display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4em;
}

.hero .col{
  display: flex;
  -webkit-display: flex;
  flex-wrap: wrap;
}

.col-12.text-left.display-linebreak{
  padding-left: 0;
}

.hero .col-text{
  flex-grow: 3;
  padding-right: 1em;
  padding-left: 0;
}

.hero .col-text button{
  margin-top: 1em;
}

.hero .col.col-img{
  justify-content: flex-end;
}