@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,600&display=swap');

main.footer{
    padding-top: 13rem;
  }

.footer-CTA{
    margin-bottom: 40px;
}

.footer-CTA h2{
    margin-bottom: 15px;
}

.footer-CTA h3{
    font-weight: 500;
    color: #CDE1EA;
    margin-bottom: 30px;
}

.footer .line-break.line-dark{
    border-bottom-width: 1px;
}

.footer-links{
    margin-bottom: 40px;
}

.footer-links h3{
    font-size: 16px;
    font-weight: 800;
    color: #E6EFF3;
    text-transform: uppercase;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    font-size: 16px;
    color: #FFF;
}

a:hover{
    text-decoration: none;
    font-weight: 700;
    color: #84C022;
    transition: color ease;
    transition-duration: .15s;
    -webkit-transition-duration: .15s;
}

@media screen and (max-width:1200px){
    main.footer{
        padding-top: 10rem;
    }
}