main.footer{
    padding-top: 13rem;
  }

h3{
    font-size: 16px;
    font-weight: 800;
    color: #E6EFF3;
    text-transform: uppercase;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    font-size: 16px;
    color: #FFF;
}

a:hover{
    text-decoration: none;
    font-weight: 700;
    color: #84C022;
    transition: color ease;
    transition-duration: .15s;
    -webkit-transition-duration: .15s;
}

@media screen and (max-width:1200px){
    main.footer{
        padding-top: 10rem;
    }
}