@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,600&display=swap');

.modal-header{
    border: none;
}

.modal-header-wrapper{
    width: 320px;
    padding: 0 15px 15px 15px;
}

.modal-title{
    color: #3F4034;
    font-size: 21px;
    font-weight: 400;
    text-transform: none;
}

.modal-subtitle{
    color: #00344A;
    font-size: 21px;
    font-weight: 400;
}

.modal-body{
    display: flex;
    -webkit-display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body .modal-open{
    padding-right: 0 !important;   
}

.form-group .col{
    width: 320px;
}

@media screen and (max-width:350px){
    
    .modal-header-wrapper{
        width: 270px;
    }

    .form-group .col{
        width: 270px;
    }
}

.form-control{
    border-color: #E8E8E8;
}

.modal-footer{
    border: none;
}

.showLabel{
    color: #00344A;
    font-family: "Roboto", "Helvetica", "sans-serif";;
    font-weight: 500;
    font-size: 14px;
    margin: 0 0 5px 0;
}
  
label.form-check-label{
    color: #00344A;
    font-size: 14px;
    font-weight: normal;
}
  
.submitBtn.btn{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 44px;
    padding: 0;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    -webkit-box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
}

.submitBtn.btn:hover{
    box-shadow: 0 25px 40px -12px rgba(50,50,93,.25), 0 15px 30px -10px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
    -webkit-box-shadow: 0 25px 40px -12px rgba(50,50,93,.25), 0 15px 30px -10px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);

}

body .modal-open{
    padding-right: 0;
}

